<div class="cart__card" id="cardFirst">
    <img class="cart__card-img" height="188"   src="../public/img/{{item.photo}}">
    <div>
        <a href="product&id_good={{item.id}}">
            <h2>{{item.title}}</h2>
        </a>
        <p>Price: <span>${{item.price}}</span></p>
        <img class="cart__card-close" id="imgClose<?= $item['id'] ?>" onclick="remove({{item.idCart}}, {{item.id}} )" src="../public/img/close.svg">
        <p>Quantity: <input type="text" value="<?= $item['countInCart'] ?>"></p>
    </div>
</div>