<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ page }}</title>
    <link rel="stylesheet" href="http://{{server}}/public/css/{{ page }}.css">
    {% if page in ['login','404','cabinet','order'] %}
        <link rel="stylesheet" href="http://{{server}}/public/css/registration.css">
    {% endif %}

    {% if page == 'product' %}
        <link rel="stylesheet" href="http://{{server}}/public/css/chiefslider.css">
    {% endif %}


</head>